<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.customer.user.mapper.TblUserDeliveryAddressMapper">
    <insert parameterType="com.yingtongquan.customer.user.entity.TblUserDeliveryAddressPo" id="addUserShippingAddress">
        INSERT INTO tbl_user_delivery_address (user_id,phone,area_id,address,latitude,longitude,consignee_name) VALUES (#{userId},#{phone},#{areaId},#{address},#{latitude},#{longitude},#{consigneeName})
    </insert>

    <update id="updateUserShippingAddress"
            parameterType="com.yingtongquan.customer.user.entity.TblUserDeliveryAddressPo">
        update tbl_user_delivery_address set phone = #{phone},area_id = #{areaId},address = #{address},latitude = #{latitude},longitude = #{longitude},consignee_name = #{consigneeName} where id = #{id}
    </update>

    <delete parameterType="java.lang.Integer" id="rmUserShippingAddress">
        delete from tbl_user_delivery_address where id = #{addressId}
    </delete>

    <select id="queryAllUserShippingAddress"
            parameterType="java.lang.Integer"
            resultType="com.yingtongquan.customer.user.entity.TblUserDeliveryAddressPo">
        select id,user_id,phone,area_id,address,latitude,longitude,consignee_name from tbl_user_delivery_address where user_id = #{userId}
    </select>

    <select id="queryCityAndProvincial" resultType="com.yingtongquan.startcommon.address.pojo.Address">
        SELECT
        	t1.area_id,
        	t1.area_name area,
        	t2.area_name city,
        	t3.area_name province
        FROM
        	tbl_area t1
        	INNER JOIN tbl_area t2 ON t1.parent_id = t2.area_id
        	INNER JOIN tbl_area t3 ON t2.parent_id = t3.area_id
        WHERE
	        t1.area_id = #{areaId}
    </select>
</mapper>
