<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.system.equipment.mapper.TblEquipmentPrinterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yingtongquan.system.equipment.entity.TblEquipmentPrinterPo">
        <id column="id" property="id"/>
        <result column="equipment_id" property="equipmentId"/>
        <result column="check_code" property="checkCode"/>
        <result column="make_coding" property="makeCoding"/>
        <result column="mac3" property="mac3"/>
        <result column="mac4" property="mac4"/>
        <result column="model_id" property="modelId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, equipment_id, check_code, make_coding, mac3, mac4, model_id
    </sql>
    <insert id="addShopPrinter">
        insert into tbl_equipment_printer (equipment_id, check_code, make_coding, mac3, mac4, model_id)
        values (#{equipmentId},#{checkCode},#{makeCoding},#{mac3},#{mac4},#{modelId})
    </insert>
    <delete id="deleteShopPrinter">
        delete from tbl_equipment_printer where equipment_id = #{equipmentId}
    </delete>
    <select id="queryEquipmentInformation"
            resultType="com.yingtongquan.system.equipment.entity.TblEquipmentPrinterPo">
        select * from tbl_equipment_printer where equipment_id = #{equipmentId}
    </select>


</mapper>
