<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.system.equipment.mapper.TblPhonePdaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yingtongquan.system.equipment.entity.TblPhonePdaPo">
                <id column="id" property="id" />
                <result column="equipment_id" property="equipmentId" />
                <result column="mac" property="mac" />
                <result column="state" property="state" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, equipment_id, mac, state
    </sql>


</mapper>
