<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.system.user.mapper.TblUserMacMapper">

    <select id="queryAllUserMAC" parameterType="com.yingtongquan.system.user.entity.TblUserMacPo"
            resultType="com.yingtongquan.system.user.entity.TblUserMacPo">
        select user_id,mac from tbl_user_mac where user_id = #{userId} and mac = #{mac}
    </select>
</mapper>
