<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.order.order.mapper.TblOrderDeliveryAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yingtongquan.order.order.entity.TblOrderDeliveryAddressPo">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="add_time" property="addTime"/>
        <result column="member_shop_id" property="memberShopId"/>
        <result column="phone" property="phone"/>
        <result column="name" property="name"/>
        <result column="area_id" property="areaId"/>
        <result column="address" property="address"/>
        <result column="is_since" property="isSince"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, add_time, member_shop_id, phone, name, area_id, address, is_since
    </sql>
    <insert id="addUserShippingAddress">
        insert into tbl_order_delivery_address (order_id, add_time, member_shop_id, phone, name, area_id, address, is_since)
        values (#{orderId},#{addTime},#{memberShopId},#{phone},#{name},#{areaId},#{address},#{isSince})
    </insert>
    <select id="queryUserShippingAddress" resultType="com.yingtongquan.order.order.pojo.UserAddress">
        SELECT
            tbl_member_shop.id member_id,
        	address.id,
        	address.phone,
        	tbl_member_shop.member_name,
        	tbl_user.head_portrait,
        	address.area_id,
        	t1.area_name area,
	        t2.area_name city,
	        t3.area_name province,
        	address.address
        FROM
	        tbl_member_delivery_address_shop address
	        INNER JOIN tbl_member_shop ON address.member_shop_id = tbl_member_shop.id
	        INNER JOIN tbl_user on tbl_member_shop.user_id = tbl_user.id
	        INNER JOIN tbl_area t1 ON address.area_id = t1.area_id
	        INNER JOIN tbl_area t2 ON t1.parent_id = t2.area_id
	        INNER JOIN tbl_area t3 ON t2.parent_id = t3.area_id
        WHERE
        	address.id = #{addressId}
    </select>
    <select id="queryAreaId" resultType="java.lang.Integer">
        SELECT
	        area_id
        FROM
	        tbl_area
        WHERE
	        parent_id = ( SELECT area_id FROM tbl_area WHERE parent_id = ( SELECT area_id FROM tbl_area WHERE area_name = #{province} ) AND area_name = #{city} )
	    AND area_name = #{area}
    </select>

</mapper>
