<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.order.returnGoods.mapper.TblReturnOrderLogisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yingtongquan.order.returnGoods.entity.TblReturnOrderLogisticsPo">
        <id column="id" property="id" />
        <result column="return_order_id" property="returnOrderNo" />
        <result column="add_time" property="addTime" />
        <result column="name" property="name" />
        <result column="logistics_no" property="logisticsNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, return_order_id, add_time, name, logistics_no
    </sql>

</mapper>
