<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.employees.member.mapper.TblMemberShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yingtongquan.employees.member.entity.TblMemberShopPo">
        <id column="id" property="id"/>
        <result column="member_name" property="memberName"/>
        <result column="user_id" property="userId"/>
        <result column="phone" property="phone"/>
        <result column="add_time" property="addTime"/>
        <result column="head_portrait" property="headPortrait"/>
        <result column="shop_id" property="shopId"/>
        <result column="member_id" property="memberId"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_name, user_id, phone, add_time, head_portrait, shop_id, member_id
    </sql>
    <insert id="addUserInformation" parameterType="com.yingtongquan.employees.member.pojo.UserInformation"
            useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user (account,password,salt_value,username,date_birth,head_portrait,sex,email,area_id,address,add_time,phone,mac)
        values (#{account},#{password},#{saltValue},#{username},#{dateBirth},#{headPortrait},#{sex},#{email},#{areaId},#{address},#{addTime},#{phone},#{mac})
    </insert>
    <insert id="addShopMember" parameterType="com.yingtongquan.employees.member.entity.TblMemberShopPo" keyProperty="id"
            useGeneratedKeys="true">
        insert into tbl_member_shop (member_name,user_id,phone,add_time,shop_id,member_id)
        values (#{memberName},#{userId},#{phone},#{addTime},#{shopId},#{memberId})
    </insert>
    <insert id="addMemberAddress"
            parameterType="com.yingtongquan.employees.member.entity.TblMemberDeliveryAddressShopPo"
            useGeneratedKeys="true" keyProperty="id">
        insert into tbl_member_delivery_address_shop(member_shop_id,name,phone,area_id,address,latitude,longitude)
        values (#{memberShopId},#{name},#{phone},#{areaId},#{address},#{latitude},#{longitude})
    </insert>
    <update id="updateShopMember" parameterType="com.yingtongquan.employees.member.entity.TblMemberShopPo">
        update tbl_member_shop set member_name = #{name},phone = #{phone} where id = #{id}
    </update>
    <update id="updateMemberShippingAddress"
            parameterType="com.yingtongquan.employees.member.entity.TblMemberDeliveryAddressShopPo">
        update tbl_member_delivery_address_shop set name = #{name},phone = #{phone},area_id = #{areaId},address = #{address},latitude = #{latitude},longitude = #{longitude} where id = #{id}
    </update>
    <delete id="deleteShopMember">
        delete from tbl_member_shop where phone = #{account}
    </delete>
    <select id="queryAllShopMember" resultType="com.yingtongquan.employees.member.pojo.MemberInformation">
        SELECT
        tbl_member_shop.id,
        tbl_member_shop.member_name,
        tbl_member_shop.phone,
        tbl_member_shop.user_id,
        tbl_user.head_portrait
        FROM
        tbl_member_shop
        INNER JOIN tbl_user ON tbl_member_shop.user_id = tbl_user.id
        <where>
            <if test="nameAndPhone != null">
                tbl_member_shop.phone LIKE concat("%",#{nameAndPhone},"%")
                OR tbl_member_shop.member_name LIKE concat("%",#{nameAndPhone},"%")
            </if>
            AND tbl_member_shop.shop_id = #{shopId}
        </where>
        LIMIT #{pageStart},#{pageEnd}
    </select>
    <select id="queryMember" resultType="java.lang.String">
        select price_name from tbl_member_price_shop where id = #{memberId}
    </select>
    <select id="queryUserInfromation" resultType="com.yingtongquan.employees.staff.pojo.UserInformation">
        select * from tbl_user where account = #{account}
    </select>
    <!--    <select id="queryByCondition" resultType="com.yingtongquan.employees.member.pojo.MemberInformation">-->
    <!--        SELECT-->
    <!--	        tbl_member_shop.id,-->
    <!--	        tbl_member_shop.member_name,-->
    <!--	        tbl_member_shop.phone,-->
    <!--	        tbl_member_shop.user_id,-->
    <!--	        tbl_user.head_portrait-->
    <!--        FROM-->
    <!--	        tbl_member_shop-->
    <!--	        INNER JOIN tbl_user ON tbl_member_shop.user_id = tbl_user.id-->
    <!--        WHERE-->
    <!--	        tbl_member_shop.phone LIKE concat("%",#{nameAndPhone},"%")-->
    <!--	        OR tbl_member_shop.member_name LIKE concat("%",#{nameAndPhone},"%")-->
    <!--	        AND tbl_member_shop.shop_id = #{shopId}-->
    <!--	        LIMIT #{pageStart},#{pageEnd}-->
    <!--    </select>-->
    <select id="checkLastOrderTime" resultType="java.lang.Long">
        select add_time from tbl_order where user_id = 17 ORDER BY add_time desc
    </select>
    <select id="bindWeChat" resultType="java.lang.Integer">
        SELECT
	        tbl_user.id
        FROM
	        tbl_user
	        INNER JOIN tbl_user_wx ON tbl_user.account = tbl_user_wx.phone
        WHERE
	        tbl_user.id = #{userId}
    </select>
    <select id="queryAreaId" resultType="java.lang.Integer">
        SELECT
	        t1.area_id
        FROM
	        tbl_area t1
	        INNER JOIN tbl_area t2 ON t1.parent_id = t2.area_id
	        INNER JOIN tbl_area t3 ON t2.parent_id = t3.area_id
        WHERE
	        t1.area_name = #{area}
	        AND t2.area_name = #{city}
	        AND t3.area_name = #{province}
    </select>
    <select id="queryMemberInformation" resultType="com.yingtongquan.employees.member.pojo.ShopMemberInfo">
        select id,member_name name,phone,add_time,member_id from tbl_member_shop where id = #{id}
    </select>
    <select id="queryMemberShippingAddress" resultType="com.yingtongquan.employees.member.pojo.MemberAddress">
        SELECT
	        shop.id,
	        shop.name consignee,
	        shop.phone,
	        shop.address,
	        shop.latitude,
	        shop.longitude,
	        shop.member_shop_id memberId,
	        t1.area_name area,
	        t2.area_name city,
	        t3.area_name province
        FROM
	        tbl_member_delivery_address_shop shop
	        INNER JOIN tbl_area t1 ON shop.area_id = t1.area_id
	        INNER JOIN tbl_area t2 ON t1.parent_id = t2.area_id
	        INNER JOIN tbl_area t3 ON t2.parent_id = t3.area_id
        WHERE
	        shop.member_shop_id = #{memberId}
    </select>


</mapper>
