<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.employees.goods.mapper.TblWarehouseGoodsSkuStoreMapper">



    <!-- 添加 -->
    <insert id="addInfo"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_warehouse_goods_sku_store
        (tbl_warehouse_goods_sku_store.fk_goods_sku_id,tbl_warehouse_goods_sku_store.store,tbl_warehouse_goods_sku_store.add_time,tbl_warehouse_goods_sku_store.production_time,tbl_warehouse_goods_sku_store.expiration_date,tbl_warehouse_goods_sku_store.cost_price,tbl_warehouse_goods_sku_store.fk_id_staff,tbl_warehouse_goods_sku_store.fk_warehouse_id)
        VALUES
        (#{fkGoodsSkuId},#{store},#{addTime},#{productionTime},#{expirationDate},#{costPrice},#{fkIdStaff},#{fkWarehouseId})
    </insert>

    <!-- 批量添加 -->
    <insert id="addBatchInfo" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_warehouse_goods_sku_store
        (tbl_warehouse_goods_sku_store.fk_goods_sku_id,tbl_warehouse_goods_sku_store.store,tbl_warehouse_goods_sku_store.add_time,tbl_warehouse_goods_sku_store.production_time,tbl_warehouse_goods_sku_store.expiration_date,tbl_warehouse_goods_sku_store.cost_price,tbl_warehouse_goods_sku_store.fk_id_staff,tbl_warehouse_goods_sku_store.fk_warehouse_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.fkGoodsSkuId},#{item.store},#{item.addTime},#{item.productionTime},#{item.expirationDate},#{item.costPrice},#{item.fkIdStaff},#{item.fkWarehouseId})
        </foreach>
    </insert>

    <!-- 修改 -->
    <update id="updateInfo"  >
        UPDATE tbl_warehouse_goods_sku_store
        SET
        tbl_warehouse_goods_sku_store.fk_goods_sku_id=#{fkGoodsSkuId},tbl_warehouse_goods_sku_store.store=#{store},tbl_warehouse_goods_sku_store.add_time=#{addTime},tbl_warehouse_goods_sku_store.production_time=#{productionTime},tbl_warehouse_goods_sku_store.expiration_date=#{expirationDate},tbl_warehouse_goods_sku_store.cost_price=#{costPrice},tbl_warehouse_goods_sku_store.fk_id_staff=#{fkIdStaff},tbl_warehouse_goods_sku_store.fk_warehouse_id=#{fkWarehouseId}
        WHERE
        tbl_warehouse_goods_sku_store.id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteByInfo" >
        DELETE FROM tbl_warehouse_goods_sku_store
        WHEN
        tbl_warehouse_goods_sku_store.id=#{id}
    </delete>

    <!-- 条件获取一条数据 -->
    <select id="getByInfo" resultType="com.yingtongquan.employees.goods.entity.TblWarehouseGoodsSkuStorePo" >
        SELECT
        tbl_warehouse_goods_sku_store.id  as id,tbl_warehouse_goods_sku_store.fk_goods_sku_id  as fkGoodsSkuId,tbl_warehouse_goods_sku_store.store  as store,tbl_warehouse_goods_sku_store.add_time  as addTime,tbl_warehouse_goods_sku_store.production_time  as productionTime,tbl_warehouse_goods_sku_store.expiration_date  as expirationDate,tbl_warehouse_goods_sku_store.cost_price  as costPrice,tbl_warehouse_goods_sku_store.fk_id_staff  as fkIdStaff,tbl_warehouse_goods_sku_store.fk_warehouse_id  as fkWarehouseId
        FROM tbl_warehouse_goods_sku_store
        WHERE
        1=1
        <if test="id!=null and id!='' and id!=0">
        AND tbl_warehouse_goods_sku_store.id=#{id}
        </if>
    </select>

    <!-- 条件获取多条数据 -->
    <select id="getListByInfo" resultType="com.yingtongquan.employees.goods.entity.TblWarehouseGoodsSkuStorePo" >
        SELECT
        tbl_warehouse_goods_sku_store.id as id,tbl_warehouse_goods_sku_store.fk_goods_sku_id as fkGoodsSkuId,tbl_warehouse_goods_sku_store.store as store,tbl_warehouse_goods_sku_store.add_time as addTime,tbl_warehouse_goods_sku_store.production_time as productionTime,tbl_warehouse_goods_sku_store.expiration_date as expirationDate,tbl_warehouse_goods_sku_store.cost_price as costPrice,tbl_warehouse_goods_sku_store.fk_id_staff as fkIdStaff,tbl_warehouse_goods_sku_store.fk_warehouse_id as fkWarehouseId
        FROM tbl_warehouse_goods_sku_store
        WHERE
        id > #{currentPageMaxId}
        <if test="keyword!=null and keyword!=''">
            AND tbl_warehouse_goods_sku_store.keyword  LIKE concat('%',#{keyword},'%')
        </if>
        LIMIT #{pagePumber}
    </select>



</mapper>
