<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingtongquan.employees.goods.mapper.TblWarehouseGoodsMapper">



    <!-- 添加 -->
    <insert id="addInfo"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_warehouse_goods
        (tbl_warehouse_goods.fk_goods_spu_id,tbl_warehouse_goods.fk_goods_warehouse_area_id,tbl_warehouse_goods.fk_fare_template_id,tbl_warehouse_goods.fk_warehouse_id,tbl_warehouse_goods.staff_commission_rate,tbl_warehouse_goods.distributor_commission_rate)
        VALUES
        (#{fkGoodsSpuId},#{fkGoodsWarehouseAreaId},#{fkFareTemplateId},#{fkWarehouseId},#{staffCommissionRate},#{distributorCommissionRate})
    </insert>

    <!-- 批量添加 -->
    <insert id="addBatchInfo" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_warehouse_goods
        (tbl_warehouse_goods.fk_goods_spu_id,tbl_warehouse_goods.fk_goods_warehouse_area_id,tbl_warehouse_goods.fk_fare_template_id,tbl_warehouse_goods.fk_warehouse_id,tbl_warehouse_goods.staff_commission_rate,tbl_warehouse_goods.distributor_commission_rate)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.fkGoodsSpuId},#{item.fkGoodsWarehouseAreaId},#{item.fkFareTemplateId},#{item.fkWarehouseId},#{item.staffCommissionRate},#{item.distributorCommissionRate})
        </foreach>
    </insert>

    <!-- 修改 -->
    <update id="updateInfo"  >
        UPDATE tbl_warehouse_goods
        SET
        tbl_warehouse_goods.fk_goods_spu_id=#{fkGoodsSpuId},tbl_warehouse_goods.fk_goods_warehouse_area_id=#{fkGoodsWarehouseAreaId},tbl_warehouse_goods.fk_fare_template_id=#{fkFareTemplateId},tbl_warehouse_goods.fk_warehouse_id=#{fkWarehouseId},tbl_warehouse_goods.staff_commission_rate=#{staffCommissionRate},tbl_warehouse_goods.distributor_commission_rate=#{distributorCommissionRate}
        WHERE
        tbl_warehouse_goods.id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteByInfo" >
        DELETE FROM tbl_warehouse_goods
        WHEN
        tbl_warehouse_goods.id=#{id}
    </delete>

    <!-- 条件获取一条数据 -->
    <select id="getByInfo" resultType="com.yingtongquan.employees.goods.entity.TblWarehouseGoodsPo" >
        SELECT
        tbl_warehouse_goods.id  as id,tbl_warehouse_goods.fk_goods_spu_id  as fkGoodsSpuId,tbl_warehouse_goods.fk_goods_warehouse_area_id  as fkGoodsWarehouseAreaId,tbl_warehouse_goods.fk_fare_template_id  as fkFareTemplateId,tbl_warehouse_goods.fk_warehouse_id  as fkWarehouseId,tbl_warehouse_goods.staff_commission_rate  as staffCommissionRate,tbl_warehouse_goods.distributor_commission_rate  as distributorCommissionRate
        FROM tbl_warehouse_goods
        WHERE
        1=1
        <if test="id!=null and id!='' and id!=0">
        AND tbl_warehouse_goods.id=#{id}
        </if>
    </select>

    <!-- 条件获取多条数据 -->
    <select id="getListByInfo" resultType="com.yingtongquan.employees.goods.entity.TblWarehouseGoodsPo" >
        SELECT
        tbl_warehouse_goods.id as id,tbl_warehouse_goods.fk_goods_spu_id as fkGoodsSpuId,tbl_warehouse_goods.fk_goods_warehouse_area_id as fkGoodsWarehouseAreaId,tbl_warehouse_goods.fk_fare_template_id as fkFareTemplateId,tbl_warehouse_goods.fk_warehouse_id as fkWarehouseId,tbl_warehouse_goods.staff_commission_rate as staffCommissionRate,tbl_warehouse_goods.distributor_commission_rate as distributorCommissionRate
        FROM tbl_warehouse_goods
        WHERE
        id > #{currentPageMaxId}
        <if test="keyword!=null and keyword!=''">
            AND tbl_warehouse_goods.keyword  LIKE concat('%',#{keyword},'%')
        </if>
        LIMIT #{pagePumber}
    </select>



</mapper>
